@sidebar_li_normal: #999;

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;

  .nav {
    >li {
      >a {
        /*all links */
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
      }
    }

    .nav {
      >li {
        >a {
          padding-top: 1px;
          padding-bottom: 1px;
          padding-left: 30px;
          font-size: 12px;
        }
      }
    }
  }
}