.col-xs-5 h1 {
    padding-left: 20px;
}

strong {
    font-weight: 900;
}

header menu li a:hover,
a.dl:hover {
    background-color: #cb3837;
}

a {
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body {
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 50px;
    line-height: 1.7;
}

header {
    min-height: 80px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #24292e;
}

header .container h1 {
    margin: 10px 0;
    font-size: 30px;
    line-height: 60px;
    font-weight: 100;
    text-rendering: auto;
}

header menu {
    margin: 20px 0 0;
    padding: 0;
    height: 40px;
}

header menu ul {
    margin: 0;
    padding: 0;
    float: right;
}

header menu li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

header menu li a {
    display: inline-block;
    height: 40px;
    font-size: 17px;
    line-height: 40px;
    padding: 0 20px;
    color: #ffffff;

}

header menu li a:hover {
    color: #f6f6f6;
    text-decoration: none;
}

header menu li a img {
    margin: 0;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.h1-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 300;
}

h1 {
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 16px;
}

h2 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

h4 {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

h2 code, h3 code, h4 code {
    color: #c7254e;
    background-color: inherit;
    font-weight: 300;
    font-size: 90%;
    padding: 0px;
}

div pre {
    padding: 8px 16px 8px 8px;
    background: #F0F0F0;
}

pre {
    border: 0;
    background-color: transparent;
    padding: 0px;
}

blockquote {
    padding: 0 15px;
    color: #666;
    border-left: 4px solid #ccc;
    font-size: 15px;
    margin-top: 20px;
}

code {
    color: inherit;
    background-color: #eee;
    border: none;
}

pre code {
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: 13px
}

/* Widescreen : desktop. */
@media (min-width: 1200px) {
    .bs-docs-sidebar {
        width: 230px;
    }
}

/* Smaller width browser : tablets. */
@media (max-width: 979px) {
    .bs-docs-sidebar {
        width: 166px;
    }
}

/* One-column : mobile */
@media (max-width: 767px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 20px;
    }

    header menu {
        display: none;
    }

    .bs-docs-sidebar {
        display: none;
    }

    .col-xs-5 {
        width: 100%;
    }

    .col-xs-9 {
        width: 100%;
    }
}

.fixed {
    position: fixed;
}

.bs-docs-sidebar.affix {
    top: 0px;
}

.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover {
    color: #cb3837;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #cb3837;
}

.bs-docs-sidebar .nav > li > a:focus {
    /*color: #000000;*/
    text-decoration: none;
    background-color: transparent;
    /*border-left-color: #cb3837;*/
}

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
    display: block;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 400px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

div.desc {
    padding: 5px;
    text-align: center;
    color: #5e5e5e;
    font-weight: 300;
    font-size: 14px;
}

/*div.gallery:hover {*/
/*border: 1px solid #ddd;*/
/*}*/