/* Widescreen : desktop. */
@media (min-width: 1200px) {
    .bs-docs-sidebar {
        width: 230px;
    }
}

/* Smaller width browser : tablets. */
@media (max-width: 979px) {
    .bs-docs-sidebar {
        width: 166px;
    }
}

/* One-column : mobile */
@media (max-width: 767px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    header menu {
        display: none;
    }

    .bs-docs-sidebar {
        display: none;
    }

    .col-xs-5 {
        width: 100%;
    }

    .col-xs-9 {
        width: 100%;
    }
}

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
    display: block;
}
